@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
   font-family: 'Red Hat Display', sans-serif;
   background: url(images/pattern-background-desktop.svg);
   height: 100vh;
   background-color: var( --pale-blue);
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.container {
   display: flex;
   flex-direction: column;
   max-width: 450px;
   height: 650px;
   background-color: white;
   overflow: hidden;
   border-radius: 1.3rem;
} 

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.order-summary p {
  text-align: center;
  width: 70%;
  margin-top: 15px;
  color: var(--desaturated-blue);
  font-weight: 400;
}

.annual-plan {
    display: flex;
    background-color: var(--very-pale-blue);
    justify-content: space-between;
    width: 80%;
    height: 80px;
    align-items: center;
    margin: 30px auto 0 auto;
    padding: 10px;
}

.annual{
    color: #000;
    font-size: 0.9rem;
    font-weight: 700;
    width: 40%;
  
}

span {
   color: var(--desaturated-blue);
   font-weight: 400;
}

a {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--bright-blue);
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.proceed {
    background-color: var(--bright-blue);
    color:hsl(225, 100%, 98%);
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 110px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
}

.proceed:hover {
    background-color: var(--dark-blue);
    
}

.cancel {
    border: none;
    background-color: white;
    color: var(--desaturated-blue);
    font-weight: 700;
    font-size: 0.9rem;
    
}

.cancel:hover {
    color: var(--dark-blue);
}