@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
   font-family: 'Red Hat Display', sans-serif;
   background: url(images/pattern-background-desktop.svg);
   height: 100vh;
   background-color: var( --pale-blue);
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.container {
   display: flex;
   flex-direction: column;
   max-width: 400px;
   height: 580px;
   background-color: white;
   overflow: hidden;
   border-radius: 1.3rem;
} 

.background {
    height: 200px;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.order-summary p {
  text-align: center;
  width: 90%;
  margin-top: 15px;
  color: var(--desaturated-blue);
 
}